# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db


# Large dataset files
*.parquet
*.csv